/* Background pattern from Subtle Patterns */

body {
	background-color: #333333;
	background-image: url(../images/concrete-texture.png);
	/*solved issue of relative path. path is relative to css not html*/
}

header {
	padding: 0 10px;
	float: left;
	background: #4aaaa5;
}

#nav-bar {
	padding: 20px 0;
	float: right;
}

.link {
	padding: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}